body {
	background: #262a2b;
}
.tilesWrap {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	min-height: 25vh;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: left;
}
.li h2 {
	font-size: 114px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
	color: black;
}
.li h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}
.li p {
	font-size: 16px;
	line-height: 18px;
	color: #b7b7b7;
	margin-top: 5px;
}
.li .redirect {
	background: transparent;
	border: 1px solid #b7b7b7;
	padding: 10px 20px;
	color: #b7b7b7;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	overflow: hidden;
	transition: 1s;
}
.redirect {
	content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	background: #b7b7b7;
	top: 0;
	opacity: 0;
	left: -140px;
	border-radius: 0 20px 20px 0;
	transition: all 0.3s ease-in-out;
	
}
.li:hover, .redirect {
	transform: translateY(5px);
	opacity: 1;
	transition: 1s;
}
.redirect:hover {
	color: #262a2b;
	transition: 1s;
}
.redirect:hover:before {
	left: 0;
	opacity: 1;
	transition: 1s;
}
.redirect:hover {
	cursor: pointer;
}
.li:hover h2 {
	top: 0px;
	opacity: 0.4;
}

.li:hover h2.underline {
	text-decoration: underline;
}

.li:hover h3
{
	animation: hover 3s linear infinite;
}

.li:hover h2 
{
	animation: hovers 3s linear infinite;
}

.li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}
.li::before {
	background: #C9FFBF;
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
.li:nth-child(1):before {
	background: #C9FFBF;
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
.li:nth-child(2):before {
	background: #f2709c;
background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
background: linear-gradient(to right, #ff9472, #f2709c);
}
.li:nth-child(3):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #ffc500, #c21500);
background: linear-gradient(to right, #ffc500, #c21500);
}
.li:nth-child(4):before {
	background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #0ABFBC, #FC354C);
}

@keyframes hover 
{
	0% {transform: rotate(-5deg);}
	50% {transform: rotate(5deg);}
	100% {transform: rotate(-5deg);}
}

@keyframes hovers 
{
	0% { transform : rotate3d(0); }
	50% { transform: rotate3d(1, 1, 1, 45deg); }
	100% { transform : rotate3d(0); }
}

.form 
{
	display: flex;
}

.searchBar
{
	width: 200px;
	height: 30px;
	border-radius: 20px;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 3px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
.submit 
{
	position: fixed;
	top: 3px;
	left: calc(50% + 125px);
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	border: 1px solid black;
	border-radius: 50%;
	height: 40px;
	width: 40px;

}






